// .side-bar {
//   width: 300px;
//   height: 100vh;
//   color: #fff;
//   background-color: #2f3e51;
//   &__header {
//     background-color: #253141;
//     padding: 0 20px;
//     font-size: 16px;
//     line-height: 100px;
//     display:flex;
//     font-weight: bold;
//     &__new-chat--btn {
//       display: inline-block;
//       color: #fff;
//       padding-right: 5px;
//       margin: 0 0 0 auto;
//     }
//     &__edit-group--btn {
//       display: inline-block;
//       color: #fff;
//     }
//   }
//   &__selects--group {
//     font-size: 15px;
//     height: calc(100vh - 120px);
//     position: absolute;
//     top:120px;
//     left:20px;
//     overflow-y: scroll;
//   }
//   &__group {
//     color: #fff;
//     display: block;
//     text-decoration: none;
//     padding-bottom: 5px;
//   }
//   &__last-message {
//     color: #fff;
//     display: block;
//     padding-bottom: 40px;
//     text-decoration: none;
//     font-size: 11px;
//   }
// }

.side-bar {
  box-sizing: border-box;
  color: $white;
  width: 300px;
  .header {
    background-color: $side_blue_dark;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    &__name {
      display: inline-block;
      font-size: $side_header_font;
      font-weight: bold;
    }
    &__lists {
      display: inline-block;
      float: right;
      .list {
        display: inline-block;
      }
      .icon {
        color: $white;
        font-size: $side_header_font;
      }
    }
  }

  .groups {
    background-color: $side_blue_light;
    height: calc(100vh - 100px);
    padding: 0 20px;
    .group {
      box-sizing: border-box;
      padding: 20px 0 40px;
      &__name {
        color: $white;
        font-size: $side_group_name;
      }
      &__message {
        color: $white;
        font-size: $side_group_message;
        margin-top: 5px;
      }
    }
  }
}